body {
  margin: 0;
}
h3 {
  color: white;
}
#main-container {
  width: 100%;
  min-height: 47vw;
  height: auto;
  background-color: #151618;
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  gap: 25px;
 
}
#user-container {
  display: flex;
  flex-direction: column;

  height: auto;
  background-color: #26282e;
}
#imgProfileName {
  gap: 15px;
}

#tableAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tableList {
  width: 70%;
  min-height: 150px;
  height: auto;
  background-color: #151618;
  margin-top: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.newInput {
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: center;
}

#boardButton {
  margin-top: 15px;
  justify-content: space-evenly;
  gap: 5rem;
  align-items: center;
}

#table-container {
  background-color: #26282e;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
  overflow: auto;
}
#addTableComponent {
  margin-top: 15px;
  margin-left: 15px;
  width: 180px;
  height: 300px;
  background-color: #151618;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  
}

#btnAdd:hover{
    cursor:pointer;
      
    transform: scale(1.1);
}

.row-Dis {
  display: flex;
  flex-direction: row;
}
.img-user-circle {
  margin: 5px;
  width: 100px;
  border-radius: 50%;
}
