*{
  font-family: 'Prompt', sans-serif;
  font-family: 'Skranji', cursive;
}
body {
    margin: 0;
    background-color: rgb(78, 75, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  h2{
    color: white;
  }
  #signUp-container{
    width: 75%;
    margin: 0 auto;
    text-align: center;
  
  }
  
  #signUp-form-div{
    width: 20rem;
    background-color: #26282e;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    margin: 5px 0;
    width: 100%;
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;
  
    margin-bottom: 30px;
  
    background: none;
    color: rgba(255, 255, 255, 0.555);
  }
  
  
  #btnSignUp {
    width: 50%;
    padding: 8px;
    background-color: #01c973;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  #btnLoggin{
    width: 50%;
    padding: 8px;
    background-color: #01c973;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  #login-form {
    background-color: #26282e;
    width: 20rem;
    height: 23rem;
    padding: 20px;
    border-radius: 10px;
  }
  
  #login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
  }
  
  #login-container h2{
    color: white;
    
  }
  
  input[type="text"],
  input[type="password"] {
    margin: 5px 0;
    width: 100%;
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;
  
    margin-bottom: 30px;
  
    background: none;
    color: rgba(255, 255, 255, 0.555);
  }
  ::placeholder {
    text-align: center;
  }
  
  button[type="submit"] {
    background-color: #01c973;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #009b5b;
  }
  #signUp{
    color:#01c973;
  
    margin-top: auto; 
    margin-bottom: 10px;
  }
  
  h3 {
    color: white;
  }
  #main-container {
    width: 100%;
    min-height: 47vw;
    height: auto;
  
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    gap: 25px;
  }
  #user-container {
    display: flex;
    flex-direction: column;
  
    height: auto;
    background-color: #222;
  }
  #imgProfileName {
    gap: 15px;
  }
  
  #tableAddContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #projectListContainer {
    padding: 1rem 1rem ;
    width: 70%;
    min-height: 150px;
    max-height: 400px;
    background-color: #151618;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scrollbar-width: thin; 
  }
  #projectListContainer::-webkit-scrollbar{
    height: 1000px;
    width: 3px;
   
  }
  #projectListContainer::-webkit-scrollbar-thumb{
    background-color: #01c973; 
    
    
  }
  .newInput {
    margin-top: 15px;
    margin-bottom: 15px;
    align-self: center;
  }
  
  #boardButton {
    margin-top: 15px;
    justify-content: space-evenly;
    gap: 5rem;
    align-items: center;
  }
  
  #board-container{
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    
    overflow: auto;
  }
  #titleboardContainer{
    width: 100%;
    height: 7%;
    background-color:#26282e ;
  }
  #titleboard{
    color: white;
    padding-left: 10px;
  }
  #board{
    
    width: 95%;
    height: 80%;
    border: #151618 solid 3px;
    
  }
  #addBoardComponent {
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
    height: 180px;
    background-color: #151618;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
  #btnAddProject:hover {
    cursor: pointer;
  
    transform: scale(1.1);
  }
  
  .row-Dis {
    display: flex;
    flex-direction: row;
  }
  .img-user-circle {
    margin: 5px;
    width: 100px;
    border-radius: 50%;
  }
  



  /* JS CLASS */

  .inputTittleProject{

    width: 80%;
    height: 15px;
  }

  .cardProject{
    background-color: #01c973;
    width: 80%;
    height: auto;
    text-align: center;
    color: white;


  }
  .cardProject:hover{
    cursor: pointer;
    transform: scale(1.1);
  }